<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="401" height="217" border="1">
    <tr>
      <th width="391" scope="row">Resort Home </th>
    </tr>
    <tr>
      <th scope="row"><a href="FacilitiesManagement">Facilities management</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="RoomManage">Room manage</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="ViewBooking">View Booking and Verify</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="ViewRating">View Rating</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="chatwithuser">Chat with Users</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewpayment">View Payment</a></th>
    </tr>
    <tr>
       <th scope="row"><a href="Logout">LOGOUT</a></th>
    </tr>

  </table>
</form>
</body>
</html>
