{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'ResortHome/resort_index.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/search_booking#about">
<div style="overflow-x:auto;">
  <table width="662" border="1" class="table table-striped table-dark">
    <tr>
      <th height="63" colspan="6" scope="col">View Booking </th>
    </tr>
    <tr>
      <td height="69" colspan="6"><label>
        <input type="text" name="textfield" />
        <input class="btn btn-outline-success" type="submit" name="Submit" value="Search" />
      </label></td>
    </tr>
    
    <tr>
      <td width="105" height="47">Username</td>
      <td width="62">Address</td>
      <td width="89">Email</td>
      <td width="122">Resort Details </td>
      <td width="122">Date</td>
      <td width="122">&nbsp;</td>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{ i.USER.username }}</td>
      <td>{{ i.USER.place }}{{ i.USER.post }}{{ i.USER.pin }}</td>
      <td>{{ i.USER.email }}</td>
      <td>{{ i.RESORT.resortname }}<br>{{ i.RESORT.place }}<br>{{ i.RESORT.post }}<br>{{ i.RESORT.pin }}<br>{{ i.RESORT.phone }}</br>
        <td>{{ i.date }}</td>
   {% if i.status == 'pending' %}
          <td>

          <a class="btn btn-outline-success" href="accept_payment/{{ i.id }}">Accept</a><br>
      <a class="btn btn-outline-danger" href="reject_payment/{{ i.id  }}">Reject</a></td>
   {% elif i.status == 'reject' %}<td><a  class="btn btn-danger"> Rejected</a>S</td>
        {% else %}
      <td><a  class="btn btn-success"> {{ i.status }}</a></td>
        {% endif %}
    </tr>
      {% endfor %}

  </table>
</div>
</form>
</body>
{#</html>#}
{% endblock %}
