{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'ResortHome/resort_index.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/search_payment#about">
  <table width="322" border="1" class="table table-striped table-dark">
    <tr>
      <th height="44" colspan="4" scope="col">View Payment </th>
    </tr>
    <tr>
      <td height="49" colspan="4"><label>
        <input type="date" name="textfield" />
        <input class="btn btn-outline-success" type="submit" name="Submit" value="Search" />
      </label></td>
    </tr>
    <tr>
      <td>payment</td>
      <td>Date</td>
      <td>Time</td>
      <td>BOOKINGID</td>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{ i.payment }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.time }}</td>
      <td>{{ i.BOOKING.USER.username }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{#</html>#}
{% endblock %}
