<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="509" border="1">
    <tr>
      <th width="499" height="30" scope="row">Admin Home </th>
    </tr>
    <tr>
      <th scope="row"><a href="Resortverification">Resort verification</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="BlockunblockResort">Block/unblock Resort</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="ResortbasedRating">Resort Based Rating</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="ComplaintAndSendReply">Complaint and send reply</a></th>
    </tr>
    <tr>
      <th height="30" scope="row"><a href=" ViewUser">View users</a></th>
    </tr>
    <tr>
      <th height="30" scope="row"><a href="/">LOGOUT</a></th>
    </tr>

  </table>
</form>
</body>
</html>
