{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'admin/admin_index.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/search_resorttt#about">
  <table width="547" border="1"class="table table-striped table-dark">
    <tr>
      <th height="53" colspan="7" scope="col">Block/Unblock Resort </th>
    </tr>
    <tr>
      <td height="43" colspan="7"> <label>
        <input type="text" name="textfield" />
        <input type="submit" name="Submit" value="Search" />
      </label></td>
    </tr>
    <tr>
      <td width="56">Resort name </td>
      <td width="56">Address</td>
      <td width="56">Image</td>
      <td width="59">Phone</td>
      <td width="53">Email</td>
      <td width="73">Location</td>
      <td width="148">&nbsp;</td>
    </tr>
      {% for i in val %}
    <tr>
      <td height="104">&nbsp;{{ i.resortname }}</td>
      <td>{{ i.place }}{{ i.post}}{{ i.pin }}</td>
      <td>&nbsp;<img src="{{ i.image.url}}" width="100" height="100"></td>
      <td>&nbsp;{{ i.phone }}</td>
      <td>&nbsp;{{ i.email }}</td>
      <td><a href="https://www.google.com/maps/@{{ i.lattitude }},{{ i.longitude }}" class="btn btn-outline-info">Track</a></td>
        {% if i.LOGIN.type == "Blocked" %}
        <td class="btn btn-outline-danger"><a href="unblockresort/{{ i.LOGIN.id }}" class="btn btn-outline-danger">Unblock</a></td>
        {% else %}
      <td><p><a href="blockresort/{{ i.LOGIN.id }}"class="btn btn-danger">Block</a></p>  </td>
   {% endif %}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{#</html>#}
{% endblock %}
