{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'admin/admin_index.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/search_userr#about">
  <table width="447" height="232" border="1" class="table table-striped table-dark">
    <tr>
      <th colspan="4" scope="col">View User </th>
    </tr>
    <tr>
      <td colspan="4"><label>
        <input type="text" name="textfield" />
        <input type="submit" name="Submit" value="Search" />
      </label></td>
    </tr>
    <tr>
      <td width="98">Username</td>
      <td width="91">Phone</td>
      <td width="131">Email</td>
      <td width="99">Address</td>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{ i.username }}</td>
      <td>{{ i.phone }}</td>
      <td>{{ i.email }}</td>
      <td>{{ i.place }}{{ i.post }}{{ i.pin }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{#</html>#}
{% endblock %}
